body {
    font: Arial;
    background-color: white;
    margin: 20px;
}

h5 {
    text-align: center;
    color: yellow;
    background-color: black;
    padding: 5px;
    font-size: 24px;
}

p, address, li {
    text-align: justify;
    color: purple;
    font-weight: bold;
    font-size: 18px;
}

table {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-collapse: separate;
    border-spacing: 3px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: white;
}

th, td {
    border: 3px solid black;
    padding: 8px;
}

th {
    background-color: aqua;  
    font-weight: bold;
}

.navigation {
    margin-top: 500px;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}


.logo {
    float: left;
    margin: 0 50px 20px 0;
}



